@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";


.link {
	display: block;
	padding: 1.25rem;
	font-weight: 700;
	--tw-text-opacity: 1;
	color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.link:hover {
	--tw-text-opacity: 1;
	color: rgba(245, 158, 11, var(--tw-text-opacity));
}